/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* ===== FONTS ===== */

@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto.woff2"),
  url("../fonts/roboto.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotomedium.woff2"),
  url("../fonts/robotomedium.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotobold.woff2"),
  url("../fonts/robotobold.woff");
  font-weight: 700;
  font-style: normal;
}

/* ===== VARIABLES ===== */

:root {
  --basic-white: #FFFFFF;
  --basic-dark: #323232;
  --basic-dark-gray: #353535;
  --basic-gray67: #ABABAB;
  --basic-very-dark-gray: #5A5A5A;
  --basic-dim-gray: #696969;
  --basic-gray: #999999;
  --basic-light-gray: #EDEDED;
  --basic-very-light-gray: #FEFEFE;


  --special-floral-white: #F8F7F4;
  --special-green-white: #D3D3D2;
  --special-cinnabar: #E84D37;
  --special-mandys-pink: #FFBC9E;
  --special-free-speech-red: #AC1000;
  --special-moderate-red: #D07058;
  --special-very-soft-red: #F6B5A5;
  --special-light-grayish-red: #F8DED8;
  --special-dark-grayish-cyan: #849D8F;
  --special-dark-grayish-blue: #8996A6;
  --special-mandarian-orange: #942718;
  --special-dark-grayish-orange: #9D8B84;
  --special-bright-blue: #2e24e4;
  --special-celeste: #CACAC7;

  --background-raspberry: #E30B5D;
  --background-chocolate: #7B3F00;

  --button-linear-gradient-first: #F26843;
  --button-linear-gradient-second: #E74A35;

  --price-text-shadow: rgba(49, 50, 53, 0.5);
  --button-text-shadow: rgba(160, 32, 11, 0.76);
  --button-box-shadow: rgba(172, 16, 0, 0.64);

  --border-dark-with-point-two-opacity: rgba(50, 50, 50, 0.2);
  --border-dark-with-point-three-opacity: rgba(50, 50, 50, 0.3);
  --border-cinnabar-with-point-two-opacity: rgba(232, 77, 55, 0.3);
  --border-mandys-pink-with-point-three-opacity: rgba(255, 188, 158, 0.3);

  --special-gray67-with-point-three-opacity: rgba(171, 171, 171, 0.3);
  --special-gray-with-point-five-two-opacity: rgba(178, 178, 178, 0.52);
  --special-floral-white-with-point-five-opacity: rgba(248, 247, 244, 0.5);
  --special-black-with-point-two-opacity: rgba(0, 0, 0, 0.2);
  --special-black-with-point-four-opacity: rgba(0, 0, 0, 0.4);
  --special-black-with-point-five-opacity: rgba(0, 0, 0, 0.5);
  --special-black-with-point-zero-seven-opacity: rgba(0, 0, 0, 0.07);
  --special-white-with-point-two-opacity: rgba(255, 255, 255, 0.2);
  --special-white-with-point-four-opacity: rgba(255, 255, 255, 0.4);
  --special-white-with-point-five-opacity: rgba(255, 255, 255, 0.5);
  --special-white-with-point-eight-opacity: rgba(255, 255, 255, 0.8);
  --special-bright-blue-with-point-five-two-opacity: rgba(46, 136, 228, 0.52);
}

/* ===== GLOBAL ===== */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;

  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: var(--basic-dark);
  background-color: var(--special-dark-grayish-cyan);
}

.page-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
}

.page-wrapper-1 {
  background-color: var(--special-dark-grayish-cyan);
  background-image: url("../img/slides/slide_creme_brulee_and_ice_cream_with_raspberry_jam.png");
}

.page-wrapper-2 {
  background-color: var(--special-dark-grayish-blue);
  background-image: url("../img/slides/slide_chocolate_ice_cream_and_lemon_sorbet.png");
}

.page-wrapper-3 {
  background-color: var(--special-dark-grayish-orange);
  background-image: url("../img/slides/slide_ice_cream_with_fudge_and_strawberry_sherbet.png");
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.reset-h {
  margin: 0;
}

.reset-p {
  margin: 0;
}

.reset-li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-fieldset {
  min-width: 0;
  margin: 0;
  padding: 0.01em 0 0 0;
  border: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===== BUTTON ===== */

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-shadow: 0 2px 5px var(--button-text-shadow);
}

.button:hover {
  -webkit-box-shadow: 0 2px 2px var(--special-free-speech-red);
  box-shadow: 0 2px 2px var(--special-free-speech-red);
  background:
    -webkit-gradient(linear, left bottom, left top, from(var(--special-white-with-point-two-opacity)), to(var(--special-white-with-point-two-opacity))),
    -webkit-gradient(linear, left top, left bottom, from(var(--button-linear-gradient-first)), to(var(--button-linear-gradient-second)));
  background:
    -o-linear-gradient(bottom, var(--special-white-with-point-two-opacity), var(--special-white-with-point-two-opacity)),
    -o-linear-gradient(top, var(--button-linear-gradient-first), var(--button-linear-gradient-second));
  background:
    linear-gradient(0deg, var(--special-white-with-point-two-opacity), var(--special-white-with-point-two-opacity)),
    linear-gradient(180deg, var(--button-linear-gradient-first), var(--button-linear-gradient-second));
}

.button:focus {
  -webkit-box-shadow: inset 0 2px 2px var(--special-mandarian-orange);
  box-shadow: inset 0 2px 2px var(--special-mandarian-orange);
  background:
    -webkit-gradient(linear, left bottom, left top, from(var(--special-black-with-point-zero-seven-opacity)), to(var(--special-black-with-point-zero-seven-opacity))),
    -webkit-gradient(linear, left top, left bottom, from(var(--button-linear-gradient-first)), to(var(--button-linear-gradient-second)));
  background:
    -o-linear-gradient(bottom, var(--special-black-with-point-zero-seven-opacity), var(--special-black-with-point-zero-seven-opacity)),
    -o-linear-gradient(top, var(--button-linear-gradient-first), var(--button-linear-gradient-second));
  background:
    linear-gradient(0deg, var(--special-black-with-point-zero-seven-opacity), var(--special-black-with-point-zero-seven-opacity)),
    linear-gradient(180deg, var(--button-linear-gradient-first), var(--button-linear-gradient-second));
}

.button_decor {
  border: 0;
  border-radius: 70px;
  -webkit-box-shadow: 0 2px 2px var(--button-box-shadow);
  box-shadow: 0 2px 2px var(--button-box-shadow);
  color: var(--basic-white);
  background:
    -webkit-gradient(linear, left top, left bottom, from(var(--button-linear-gradient-first)), to(var(--button-linear-gradient-second)));
  background:
    -o-linear-gradient(top, var(--button-linear-gradient-first), var(--button-linear-gradient-second));
  background:
    linear-gradient(180deg, var(--button-linear-gradient-first), var(--button-linear-gradient-second));
}

.button_block {
  display: inline-block;
  vertical-align: top;
}

/* ========== HEADER ========== */

.page-header {
  margin-top: 9px;
}

/* ===== NAVIGATION ===== */

.navigation {
  display: -ms-grid;
  display: grid;
  grid-template-areas:
  "logo     navigation-menu user-menu"
  "contacts contacts        contacts";
  -ms-grid-columns: -webkit-min-content 1fr 1fr;
  -ms-grid-columns: min-content 1fr 1fr;
  grid-template-columns: -webkit-min-content 1fr 1fr;
  grid-template-columns: min-content 1fr 1fr;
}

.header-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  display: block;
  width: 154px;
  height: 64px;
}

.navigation-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navigation-menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 14px 11px 14px;
}

.navigation-menu__item {
  margin-right: 6px;
  padding-bottom: 5px;
}

.navigation-menu__item:last-child {
  margin-right: 0;
}

.navigation-menu__link {
  display: block;
  padding: 5px 13px 6px;

  font-weight: 700;
  line-height: 18px;

  color: var(--basic-white);
}

.navigation-menu__link::after {
  content: "";
  display: block;
  bottom: 0;
  height: 1px;
  background-color: var(--special-white-with-point-two-opacity);

}

.navigation-menu__link:hover {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  border-radius: 26px;
}

.navigation-menu__link:hover::after {
  display: none;
}

.navigation-menu__link_current {
  background-color: var(--special-moderate-red);
  border-radius: 26px;
}

.navigation-menu__link_current::after {
  display: none;
}

.navigation-menu__link:focus {
  color: var(--basic-dark);
  background-color: var(--basic-light-gray);
  -webkit-box-shadow: 0 2px 1px var(--basic-dim-gray);
  box-shadow: 0 2px 1px var(--basic-dim-gray);
  border-radius: 26px;
}

.navigation-menu__link:focus::after {
  display: none;
}

.navigation-menu__item_dropdown {
  position: relative;
}

.navigation-menu__item_dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  z-index: 1;
  position: absolute;
  display: none;
  top: 36px;
  left: -8px;
  width: 143px;
  padding-top: 4px;
  padding-bottom: 6px;
  border-radius: 4px;
  background-color: var(--basic-white);
}

.dropdown-menu__item {
  margin-bottom: 4px;
}

.dropdown-menu__item:first-child {
  margin-bottom: 13px;
}

.dropdown-menu__item:last-child {
  margin-bottom: 0;
}

.dropdown-menu__link {
  display: block;
  padding: 6px 20px 5px 21px;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark);
}

.dropdown-menu__promo-link {
  position: relative;
  padding: 5px 20px 4px 21px;
  font-weight: 700;
  line-height: 18px;
}

.dropdown-menu__promo-link:after {
  content: "";
  position: absolute;
  width: 128px;
  height: 1px;
  bottom: -6px;
  left: 5px;
  background-color: var(--border-dark-with-point-two-opacity);
}

.dropdown-menu__link:hover {
  background-color: var(--special-light-grayish-red);
}

.dropdown-menu__link:focus {
  background-color: var(--special-very-soft-red);
}

.dropdown-menu__link_current {
  pointer-events: none;
  color: var(--basic-white);
  background-color: var(--special-moderate-red);
}

.user-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: user-menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  margin: 14px 0 14px 11px;
}

.user-menu__item {
  margin-right: 10px;
  padding-bottom: 5px;
}

.user-menu__item:last-child {
  margin-right: 0;
}

.user-menu__item_search-dropdown {
  position: relative;
}

.user-menu__item_search-dropdown:hover .search{
  display: block;
}

.user-menu__item_login-dropdown {
  position: relative;
}

.user-menu__item_login-dropdown:hover .login {
  display: block;
}

.user-menu__item_cart-dropdown {
  position: relative;
}

.user-menu__item_cart-dropdown:hover .cart {
  display: block;
}

.user-menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.search-link {
  padding: 8px;
  background-color: var(--special-white-with-point-two-opacity);
  border-radius: 50%;
}

.search-link:hover {
  background-color: var(--basic-white);
}

.search-link:hover .search-link__path {
  fill: var(--basic-dark);
}

.search {
  z-index: 1;
  position: absolute;
  display: none;
  top: 36px;
  right: 0;
  padding: 20px 15px;
  -webkit-box-shadow: 0 20px 20px var(--special-black-with-point-four-opacity);
  box-shadow: 0 20px 20px var(--special-black-with-point-four-opacity);
  border-radius: 4px;
  background-color: var(--special-floral-white);
}

.search__input {
  width: 311px;
  height: 44px;
  padding: 13px 15px;
  border: 1px solid var(--special-green-white);
  border-radius: 4px;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark);
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.search__input::-moz-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.search__input:-ms-input-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.search__input::-ms-input-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.search__input::placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.search__input:hover {
  border: 2px solid var(--special-green-white);
}

.search__input:focus {
  border: 2px solid var(--special-bright-blue-with-point-five-two-opacity);
}

.login-link {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 6px 16px 7px;
  background-color: var(--special-white-with-point-two-opacity);
  border-radius: 20px;
}

.login-link:hover {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.login-link:hover .login-link__path {
  fill: var(--basic-dark);
}

.login-link__icon {
  margin-right: 8px;
}

.login {
  z-index: 1;
  position: absolute;
  display: none;
  top: 36px;
  right: 0;
  width: 277px;
  padding: 20px 16px 22px 19px;
  -webkit-box-shadow: 0 20px 20px var(--special-black-with-point-four-opacity);
  box-shadow: 0 20px 20px var(--special-black-with-point-four-opacity);
  border-radius: 4px;
  background-color: var(--special-floral-white);
}

.login__form {
  display: -ms-grid;
  display: grid;
  grid-template-areas:
  "login login"
  "password password"
  "button help";
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;
}

.login__input {
  width: 241px;
  height: 44px;
  border: 1px solid var(--special-green-white);
  border-radius: 4px;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark);
}

.login__input::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.login__input::-moz-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.login__input:-ms-input-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.login__input::-ms-input-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.login__input::placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.login__input:hover {
  border: 2px solid var(--special-green-white);
}

.login__input:focus {
  border: 2px solid var(--special-bright-blue-with-point-five-two-opacity);
}

.login__login {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: login;
}

.login__login .login__input {
  padding: 13px 15px;
}

.login__password {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: password;
}

.login__password .login__input {
  padding: 13px 15px;
}

.login__button {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: button;
  padding: 14px 25px;
  line-height: 16px;
  cursor: pointer;
}

.login__help {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: help;
}

.login__help a {
  /*position: relative;*/
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 15px;
  -webkit-text-decoration: underline var(--border-dark-with-point-three-opacity);
  text-decoration: underline var(--border-dark-with-point-three-opacity);
  color: var(--basic-dark);
}

.login__help a:last-child {
  margin-bottom: 0;
}

.login__forgot-password:hover {
  color: var(--special-cinnabar);
  -webkit-text-decoration: underline var(--border-cinnabar-with-point-two-opacity);
  text-decoration: underline var(--border-cinnabar-with-point-two-opacity);
}

.login__forgot-password:focus {
  color: var(--special-cinnabar);
  -webkit-text-decoration: underline var(--border-cinnabar-with-point-two-opacity);
  text-decoration: underline var(--border-cinnabar-with-point-two-opacity);
}

.login__sign-up:hover {
  color: var(--special-cinnabar);
  -webkit-text-decoration: underline var(--border-cinnabar-with-point-two-opacity);
  text-decoration: underline var(--border-cinnabar-with-point-two-opacity);
}

.login__sign-up:focus {
  color: var(--special-cinnabar);
  -webkit-text-decoration: underline var(--border-cinnabar-with-point-two-opacity);
  text-decoration: underline var(--border-cinnabar-with-point-two-opacity);
}

.cart-link {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 6px 16px 6px;
  background-color: var(--special-white-with-point-two-opacity);
  border-radius: 20px;
}

.cart-link_not-empty {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.cart-link_not-empty .cart-link__path:nth-child(1) {
  fill: var(--basic-dark);
}

.cart-link_not-empty .cart-link__path:nth-child(2) {
  fill: var(--special-cinnabar);
}

.cart-link__icon {
  margin-right: 8px;
}

.cart {
  z-index: 1;
  position: absolute;
  display: none;
  top: 36px;
  right: 0;
  width: 539px;
  padding: 17px 14px 21px 19px;
  border-radius: 4px;
  -webkit-box-shadow: 0 20px 20px var(--special-black-with-point-four-opacity);
  box-shadow: 0 20px 20px var(--special-black-with-point-four-opacity);
  background-color: var(--special-floral-white);
}

.cart__table {
  position: relative;
  margin-bottom: 9px;
}

.cart__table:after {
  content: "";
  position: absolute;
  left: -4px;
  bottom: 7px;
  width: 510px;
  height: 1px;
  background-color: var(--special-celeste);
}

.cart__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.cart_row:last-child {
  margin-bottom: 0;
}

.cart__column {
  padding: 9px 0 0;
}

.cart-product-delete {
  padding-right: 9px;
}

.cart-product-delete a {
  display: block;
  width: 11px;
  height: 11px;
  padding-top: 14px;
  background-image: url("../img/icons/icon_delete_cross.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.cart-product-image {
  width: 33px;
  height: 33px;
  margin-right: 13px;
  padding-top: 0;
}

.cart-product-image img {
  border-radius: 100%;
}

.cart-product-title {
  font-size: 13px;
  line-height: 16px;
  margin-right: 31px;
}

.cart-product-quantity {
  font-size: 13px;
  line-height: 16px;
  margin-right: 26px;
}

.cart-product-quantity span {
  color: var(--basic-gray67);
}

.cart-product-price {
  font-size: 13px;
  line-height: 16px;
}

.cart__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.cart__total-price {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}

.cart__button {
  padding: 14px 15px;
  line-height: 16px;
}

.header-contacts {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contacts;
  -ms-grid-column-align: end;
  justify-self: end;
  margin-top: 2px;
}

.header-contacts__schedule {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: end;
  color: var(--basic-white);
}

.header-contacts__phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

/* ========== MAIN ========== */

/* ===== SLIDER ===== */

.slider {
  position: relative;
  margin-bottom: 41px;
  padding-top: 272px;
  text-align: center;
  color: var(--basic-white);
}

.slide {
  display: none;
}

.slide_current {
  display: block;
}

.slide__title {
  width: 700px;
  margin: 0 auto 26px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slide__button {
  margin: 0 auto;
  padding: 9px 22px;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
}

.slider__controls {
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  bottom: 20px;
  left: 0;
}

.slider__control {
  width: 21px;
  height: 21px;
  margin-right: 8px;
  padding: 0;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slider__control_current {
  background-color: var(--basic-white);
}

.slider__control:last-child {
  margin-right: 0;
}

/* ===== BANNERS ===== */

.banners {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 560px 26px 560px;
  grid-template-columns: 560px 560px;
  -webkit-column-gap: 26px;
  -moz-column-gap: 26px;
  column-gap: 26px;
  margin-bottom: 40px;
}

.banner {
  position: relative;
  width: 560px;
  padding: 16px 30px 70px 16px;
  border-radius: 16px;
}

.banner-raspberry {
  background-color: var(--background-raspberry);
  background-image: url("../img/background/raspberry_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.banner-chocolate {
  background-color: var(--background-chocolate);
  background-image: url("../img/background/chocolate_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.banner__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: var(--basic-white);
}

.banner__description {
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-white);
}

.banner__button {
  position: absolute;
  right: 22px;
  bottom: 22px;
  padding: 11px 22px 12px;
}

/* ===== BESTSELLERS ===== */

.bestsellers {
  margin-bottom: 40px;
}

.bestsellers__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 267px 26px 267px 26px 267px 26px 267px;
  grid-template-columns: 267px 267px 267px 267px;
  -webkit-column-gap: 26px;
  -moz-column-gap: 26px;
  column-gap: 26px;
}

.bestsellers__item {
  position: relative;
  cursor: pointer;
}

.bestsellers__item:before {
  content: "";
  position: absolute;
  display: none;
  top: -6px;
  left: -13px;
  width: 293px;
  height: calc(100% + 78px);
  border-radius: 4px;
  -webkit-box-shadow: 0 20px 20px var(--special-black-with-point-two-opacity);
  box-shadow: 0 20px 20px var(--special-black-with-point-two-opacity);
  background-color: var(--special-white-with-point-two-opacity);
}

.bestsellers__item:after {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url("../img/icons/icon_hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bestsellers__item:hover:before {
  z-index: 1;
  display: block;
}

.bestsellers__item:hover .bestseller__content-wrapper {
  z-index: 1;
}

.bestsellers__item:hover .bestseller__button {
  z-index: 1;
  display: inline-block;
}

.bestseller {
  position: relative;
  height: 100%;
}

.bestseller__content-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bestseller__description {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.bestseller__description a {
  display: block;
  color: var(--basic-white);
  -webkit-text-decoration: underline var(--special-white-with-point-two-opacity);
  text-decoration: underline var(--special-white-with-point-two-opacity);
}

.bestseller__description a:hover {
  color: var(--special-mandys-pink);
  -webkit-text-decoration: underline var(--border-mandys-pink-with-point-three-opacity);
  text-decoration: underline var(--border-mandys-pink-with-point-three-opacity);
}

.bestseller__description a:focus {
  color: var(--special-mandys-pink);
  -webkit-text-decoration: underline var(--border-mandys-pink-with-point-three-opacity);
  text-decoration: underline var(--border-mandys-pink-with-point-three-opacity);
}

.bestseller__image-wrapper {
  width: 267px;
  height: 267px;
  margin-bottom: 13px;
}

.bestseller__image-wrapper img {
  border-radius: 100%;
}

.bestseller__price {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  top: 207px;
  left: 0;
  text-shadow: 0 1px 3px var(--price-text-shadow);
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-white);
}

.bestseller__price span {
  margin-left: 2px;
  text-shadow: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: inherit;
}

.bestseller__button {
  position: absolute;
  display: none;
  bottom: -51px;
  left: 34px;
  margin-top: 17px;
  padding: 10px 16px;
  cursor: pointer;
}

/* ===== ABOUT ===== */

.about {
  margin-bottom: 40px;
  padding: 24px 20px 28px;
  border-radius: 16px;
  background-image: url("../img/background/waffle_background.jpg");
  background-position: 0 0;
}

.about__title {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 540px 26px 540px;
  grid-template-columns: 540px 540px;
  -webkit-column-gap: 26px;
  -moz-column-gap: 26px;
  column-gap: 26px;
  row-gap: 14px;
}

.about__item {
  position: relative;
  padding-top: 9px;
  padding-left: 55px;
  padding-right: 5px;
}

.about__item:nth-child(1):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/about/icon_ice_cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about__item:nth-child(2):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/about/icon_cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about__item:nth-child(3):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/about/icon_leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about__item:nth-child(4):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/about/icon_thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* ===== NEWS ===== */

.news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 560px 26px 560px;
  grid-template-columns: 560px 560px;
  -webkit-column-gap: 26px;
  -moz-column-gap: 26px;
  column-gap: 26px;
  margin-bottom: 40px;
}

.blog {
  width: 560px;
  padding: 18px 253px 88px 20px;
  border-radius: 16px;
  background-color: var(--basic-white);
  background-image: url("../img/background/strawberry_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.blog__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 3px;
}

.blog__link {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  -webkit-text-decoration: underline solid var(--basic-dark-gray);
  text-decoration: underline solid var(--basic-dark-gray);
  color: var(--basic-dark);
}

.blog__link:hover {
  color: var(--special-cinnabar);
  -webkit-text-decoration: underline solid var(--border-cinnabar-with-point-two-opacity);
  text-decoration: underline solid var(--border-cinnabar-with-point-two-opacity);
}

.blog__link:focus {
  color: var(--special-cinnabar);
  -webkit-text-decoration: underline solid var(--border-cinnabar-with-point-two-opacity);
  text-decoration: underline solid var(--border-cinnabar-with-point-two-opacity);
}

.newsletter {
  width: 560px;
  border-radius: 16px;
  background-color: var(--special-floral-white);
  background-image: url("../img/background/mail_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.newsletter__wrapper {
  width: 548px;
  margin: 5px 6px;
  padding: 25px 16px 34px 20px;
  border-radius: 16px;
  background-color: var(--special-floral-white);
}

.newsletter__description {
  margin-bottom: 41px;
  color: var(--basic-very-dark-gray);
}

.newsletter__input {
  width: 368px;
  height: 44px;
  margin-right: 8px;
  padding: 10px 14px 8px;
  border: 1px solid var(--special-gray-with-point-five-two-opacity);
  border-radius: 6px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.newsletter__input::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--basic-dim-gray);
}

.newsletter__input::-moz-placeholder {
  font-weight: 400;
  color: var(--basic-dim-gray);
}

.newsletter__input:-ms-input-placeholder {
  font-weight: 400;
  color: var(--basic-dim-gray);
}

.newsletter__input::-ms-input-placeholder {
  font-weight: 400;
  color: var(--basic-dim-gray);
}

.newsletter__input::placeholder {
  font-weight: 400;
  color: var(--basic-dim-gray);
}

.newsletter__input:hover {
  border: 2px solid var(--special-gray-with-point-five-two-opacity);
}

.newsletter__input:focus {
  border: 2px solid var(--special-bright-blue-with-point-five-two-opacity);
}

.newsletter__button {
  padding: 10px 19px;
  cursor: pointer;
}

/* ===== CONTACTS ===== */

.contacts {
  position: relative;
}

.contacts__map {
  width: 100%;
  height: 430px;
}

.contacts__description {
  position: absolute;
  top: 62px;
  right: calc(((100vw - 1163px) / 2));
  width: 303px;
  height: 306px;
  padding: 32px 25px 31px;
  border-radius: 16px;
  background-color: var(--basic-very-light-gray);
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 19px;
}

.contacts__address span {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__phone {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 26px;
}

.contacts__phone a {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark);
}

.contacts__button {
  padding: 10px 28px;
  cursor: pointer;
}

/* ========== FOOTER ========== */

.page-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 398px 1fr 1fr;
  grid-template-columns: 398px 1fr 1fr;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 25px;
}

/* ===== SOCIALS ===== */

.socials {
  padding-top: 18px;
  padding-bottom: 5px;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.socials__item {
  margin-right: 8px;
  margin-bottom: 5px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
}

.facebook-link:hover .facebook-link__path:nth-child(2) {
  fill-opacity: 1;
}

.facebook-link:focus .facebook-link__path:nth-child(2) {
  fill-opacity: 1;
}

.vkontakte-link:hover .vkontakte-link__path:nth-child(2),
.vkontakte-link:hover .vkontakte-link__path:nth-child(3) {
  fill-opacity: 1;
}

.vkontakte-link:focus .vkontakte-link__path:nth-child(2),
.vkontakte-link:focus .vkontakte-link__path:nth-child(3) {
  fill-opacity: 1;
}

.instagram-link:hover .instagram-link__opacity {
  opacity: 1;
}

.instagram-link:focus .instagram-link__opacity {
  opacity: 1;
}

.twitter-link:hover .twitter-link__path:nth-child(2) {
  fill-opacity: 1;
}

.twitter-link:focus .twitter-link__path:nth-child(2) {
  fill-opacity: 1;
}

/* ===== INFO ===== */

.info {
  padding-top: 15px;
  padding-bottom: 5px;
}

.info__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 8px -webkit-max-content;
  -ms-grid-columns: max-content 8px max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
}

.info__item {
  padding-left: 24px;
}

.info__link {
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-white);
  -webkit-box-shadow: 0 1px 0 0 var(--special-white-with-point-two-opacity);
  box-shadow: 0 1px 0 0 var(--special-white-with-point-two-opacity);
}

.info__link:hover {
  color: var(--special-mandys-pink);
  -webkit-box-shadow: 0 1px 0 0 var(--border-mandys-pink-with-point-three-opacity);
  box-shadow: 0 1px 0 0 var(--border-mandys-pink-with-point-three-opacity);
}

.info__link:focus {
  color: var(--special-mandys-pink);
  -webkit-box-shadow: 0 1px 0 0 var(--border-mandys-pink-with-point-three-opacity);
  box-shadow: 0 1px 0 0 var(--border-mandys-pink-with-point-three-opacity);
}

.info__providers {
  position: relative;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}

.info__providers:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 2px;
  width: 15px;
  height: 13px;
  background-image: url("../img/icons/icon_heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* ===== COPYRIGHT ===== */

.copyright {
  -ms-grid-column-align: end;
  justify-self: end;
}

.copyright__logo {
  display: block;
  width: 108px;
  height: 31px;
  margin-bottom: 14px;
}

.copyright__description {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white);
}

.copyright__link {
  -webkit-box-shadow: 0 1px 0 0 var(--special-white-with-point-two-opacity);
  box-shadow: 0 1px 0 0 var(--special-white-with-point-two-opacity);
  color: inherit;
}

.copyright__link:hover {
  color: var(--special-mandys-pink);
  -webkit-box-shadow: 0 1px 0 0 var(--border-mandys-pink-with-point-three-opacity);
  box-shadow: 0 1px 0 0 var(--border-mandys-pink-with-point-three-opacity);
}

.copyright__link:focus {
  color: var(--special-mandys-pink);
  -webkit-box-shadow: 0 1px 0 0 var(--border-mandys-pink-with-point-three-opacity);
  box-shadow: 0 1px 0 0 var(--border-mandys-pink-with-point-three-opacity);
}

/* ========== MODAL ========== */

.modal {
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 6px;
  background-color: var(--special-floral-white);
}

.modal-feedback {
  display: none;
  top: 338px;
  bottom: auto;
  width: 477px;
  padding: 14px 25px 27px 24px;
}

.modal_show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal_error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal-feedback__title {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.modal-feedback__form {
  position: relative;
}

.modal-feedback__form input {
  width: 267px;
  height: 44px;
  padding: 11px 14px;
  border: 1px solid var(--special-gray-with-point-five-two-opacity);
  border-radius: 4px;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.modal-feedback__form input::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.modal-feedback__form input::-moz-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.modal-feedback__form input:-ms-input-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.modal-feedback__form input::-ms-input-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.modal-feedback__form input::placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.modal-feedback__form input:hover {
  border: 2px solid var(--special-gray-with-point-five-two-opacity);
}

.modal-feedback__form input:focus {
  border: 2px solid var(--special-bright-blue-with-point-five-two-opacity);
}

.modal-feedback__form textarea {
  width: 428px;
  height: 154px;
  margin-bottom: 63px;
  padding: 11px 14px;
  border: 1px solid var(--special-gray-with-point-five-two-opacity);
  border-radius: 4px;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal-feedback__form textarea:hover {
  border: 2px solid var(--special-gray-with-point-five-two-opacity);
}

.modal-feedback__form textarea:focus {
  border: 2px solid var(--special-bright-blue-with-point-five-two-opacity);
}

.modal-feedback__form textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.modal-feedback__form textarea::-moz-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.modal-feedback__form textarea:-ms-input-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.modal-feedback__form textarea::-ms-input-placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.modal-feedback__form textarea::placeholder {
  font-weight: 400;
  color: var(--basic-gray);
}

.modal-feedback__submit {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 24px;
  cursor: pointer;
}

.modal-feedback__close {
  position: absolute;
  top: -48px;
  right: -9px;
  width: 18px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/icon_cross.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

/* ========== CATALOG ========== */

/* ===== CATALOG__HEADER ===== */

.catalog__header {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-template-areas:
  "breadcrumbs"
  "title";
  top: -26px;
  margin-bottom: 2px;
}

.catalog__title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: var(--basic-white);
}

/* ===== BREADCRUMBS ===== */

.breadcrumbs {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: breadcrumbs;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 23px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item:after {
  content: "";
  position: absolute;
  top: 4px;
  right: -15px;
  width: 6px;
  height: 6px;
  background-image: url("../img/icons/icon_arrow_nav.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  display: block;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-shadow: 0 1px 0 0 var(--special-white-with-point-two-opacity);
  box-shadow: 0 1px 0 0 var(--special-white-with-point-two-opacity);
  color: var(--basic-white);
}

.breadcrumbs__link:hover {
  color: var(--special-mandys-pink);
  -webkit-box-shadow: 0 1px 0 0 var(--special-mandys-pink);
  box-shadow: 0 1px 0 0 var(--special-mandys-pink);
}

.breadcrumbs__link:focus {
  color: var(--special-mandys-pink);
  -webkit-box-shadow: 0 1px 0 0 var(--special-mandys-pink);
  box-shadow: 0 1px 0 0 var(--special-mandys-pink);
}

.breadcrumbs__item_current .breadcrumbs__link {
  pointer-events: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ===== FILTER ===== */

.filter {
  margin-bottom: 40px;
}

.filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 130px;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.filter__form fieldset {
  margin-right: 15px;
}

.filter__form legend {
  margin-bottom: 5px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.select {
  position: relative;
}

.select__arrow {
  position: absolute;
  top: 14px;
  right: 14px;
  pointer-events: none;
}

.select__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 9px 34px 9px 16px;
  border: 0;
  border-radius: 20px;
  color: var(--basic-white);
  background-color: var(--special-white-with-point-two-opacity);
  cursor: pointer;
}

.select:hover .select__select {
  font-weight: 500;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.select:hover .select__path {
  fill: var(--basic-dark);
}

.select__option {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark);
}

.range-filter {
  position: relative;
  width: 218px;
}

.price-controls {
  position: absolute;
  top: -22px;
  left: 55px;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.price-controls label {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.price-controls input {
  width: 28px;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 0;
  color: inherit;
  background-color: transparent;
}

.price-controls input[type=number]::-webkit-inner-spin-button,
.price-controls input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-controls input[type=number] {
  -moz-appearance:textfield;
}

.range-controls {
  position: relative;
  height: 36px;
  padding-top: 17px;
  padding-right: 21px;
  padding-left: 21px;
  border-radius: 20px;
  background-color: var(--special-white-with-point-two-opacity);
}

.range-controls .scale {
  height: 2px;
  background-color: var(--special-floral-white-with-point-five-opacity);
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  margin-left: 10%;
  background-color: var(--special-floral-white);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--special-gray67-with-point-three-opacity);
  box-shadow: 0 2px 1px 0 var(--special-gray67-with-point-three-opacity);
  background-color: var(--basic-gray67);
  cursor: pointer;
}

.range-controls .toggle_min {
  left: 35px;
}

.range-controls .toggle_max {
  left: 133px;
}

.filter__fatness .filter__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 7px 18px 7px 14px;
  border-radius: 20px;
  background-color: var(--special-white-with-point-two-opacity);
}

.filter__option_radio {
  margin-right: 19px;
}

.filter__option_radio:last-child {
  margin-right: 0;
}

.filter__option_radio label {
  position: relative;
  padding-left: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter__input_radio + label:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 3px solid var(--special-white-with-point-eight-opacity);
  border-radius: 50%;
}

.filter__input_radio:checked + label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--special-white-with-point-eight-opacity);
}

.filter__input_radio:not(:disabled):hover + label:before {
  border: 3px solid var(--basic-white);
}

.filter__input_radio:not(:disabled):hover + label:after {
  background-color: var(--basic-white);
}

.filter__input_radio:not(:disabled):focus + label:before {
  border: 3px solid var(--basic-white);
}

.filter__input_radio:not(:disabled):focus + label:after {
  background-color: var(--basic-white);
}

.filter__input_radio:disabled + label {
  cursor: default;
}

.filter__input_radio:disabled + label:before {
  border: 3px solid var(--special-white-with-point-four-opacity);
}

.filter__input_radio:disabled + label:after {
  background-color: var(--special-white-with-point-four-opacity);
}

.filter__toppings .filter__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 7px 19px 7px 16px;
  border-radius: 20px;
  background-color: var(--special-white-with-point-two-opacity);
}

.filter__option_checkbox label {
  position: relative;
  padding-left: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.option-chocolate {
  margin-right: 20px;
}

.option-sugar {
  margin-right: 24px;
}

.option-fruits {
  margin-right: 24px;
}

.option-syrup {
  margin-right: 24px;
}

.filter__option_checkbox label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--special-white-with-point-eight-opacity);
  border-radius: 4px;
  background-color: transparent;
}

.filter__svg-checkbox {
  display: none;
}

.filter__input_checkbox:checked + label .filter__svg-checkbox {
  z-index: 1;
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
}

.filter__input_checkbox:checked + label:before {
  content: none;
}

.filter__input_checkbox:not(:disabled):hover + label:before {
  border: 2px solid var(--basic-white);
}

.filter__input_checkbox:not(:disabled):hover + label .filter__svg-checkbox-path {
  fill-opacity: 1;
}

.filter__input_checkbox:not(:disabled):focus + label:before {
  border: 2px solid var(--basic-white);
}

.filter__input_checkbox:not(:disabled):focus + label .filter__svg-checkbox-path {
  fill-opacity: 1;
}

.filter__input_checkbox:disabled + label:before {
  border: 2px solid var(--special-white-with-point-four-opacity);
}

.filter__input_checkbox:disabled + label {
  cursor: default;
}

.filter__input_checkbox:disabled + label .filter__svg-checkbox-path {
  fill-opacity: 0.4;
}

.filter__button {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 7px 28px;
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--special-white-with-point-two-opacity);
  cursor: pointer;
}

.filter__button:hover {
  padding: 9px 28px;
  border: none;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.filter__button:focus {
  padding: 9px 28px;
  border: none;
  -webkit-box-shadow: inset 0 2px 1px var(--basic-dim-gray);
  box-shadow: inset 0 2px 1px var(--basic-dim-gray);
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

/* ===== GOODS ===== */

.goods {
  margin-bottom: 80px;
}

.goods__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 267px 26px 267px 26px 267px 26px 267px;
  grid-template-columns: 267px 267px 267px 267px;
  -webkit-column-gap: 26px;
  -moz-column-gap: 26px;
  column-gap: 26px;
  row-gap: 36px;
}

.goods__item {
  position: relative;
  cursor: pointer;
}

.goods__item:before {
  content: "";
  position: absolute;
  display: none;
  top: -6px;
  left: -13px;
  width: 293px;
  height: calc(100% + 78px);
  border-radius: 4px;
  -webkit-box-shadow: 0 20px 20px var(--special-black-with-point-two-opacity);
  box-shadow: 0 20px 20px var(--special-black-with-point-two-opacity);
  background-color: var(--special-white-with-point-two-opacity);
}

.goods__item:hover:before {
  z-index: 1;
  display: block;
}

.goods__item:hover .product__content-wrapper {
  z-index: 1;
}

.goods__item:hover .product__button {
  z-index: 1;
  display: inline-block;
}

.product {
  position: relative;
  height: 100%;
}

.product__content-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product__description {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.product__description a {
  display: block;
  color: var(--basic-white);
  -webkit-text-decoration: underline var(--special-white-with-point-two-opacity);
  text-decoration: underline var(--special-white-with-point-two-opacity);
}

.product__description a:hover {
  color: var(--special-mandys-pink);
  -webkit-text-decoration: underline var(--border-mandys-pink-with-point-three-opacity);
  text-decoration: underline var(--border-mandys-pink-with-point-three-opacity);
}

.product__description a:focus {
  color: var(--special-mandys-pink);
  -webkit-text-decoration: underline var(--border-mandys-pink-with-point-three-opacity);
  text-decoration: underline var(--border-mandys-pink-with-point-three-opacity);
}

.product__image-wrapper {
  width: 267px;
  height: 267px;
  margin-bottom: 13px;
}

.product__image-wrapper img {
  border-radius: 100%;
}

.product__price {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  top: 208px;
  left: 0;
  text-shadow: 0 1px 3px var(--price-text-shadow);
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-white);
}

.product__price span {
  margin-left: 2px;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: inherit;
}

.product__button {
  position: absolute;
  display: none;
  bottom: -51px;
  left: 34px;
  padding: 10px 16px;
  cursor: pointer;
}

/* ===== PAGINATION ===== */

.pagination {
  margin-bottom: 30px;
}

.pagination__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination__navigation-arrow_disabled {
  pointer-events: none;
  opacity: 0.2;
}

.pagination__previous {
  width: 7px;
  height: 12px;
  background-image: url("../img/icons/icon_arrow_pagination.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 16px;
  margin-left: 16px;
}

.pagination__item {
  margin-right: 6px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__link {
  display: block;
  padding: 3px 8px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.pagination__link:hover {
  background-color: var(--special-white-with-point-two-opacity);
}

.pagination__link:focus {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.pagination__link_current {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  pointer-events: none;
}

.pagination__next {
  width: 7px;
  height: 12px;
  background-image: url("../img/icons/icon_arrow_pagination.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* ========== ANIMATIONS ========== */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
